@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

$color-principal: #EEC373;
$color-secundario: #CA965C;
$color-oscuro: #876445;
$color-claro: #F4DFBA;
$color-azul: #293B5F;
$sombra: rgba(0, 0, 0, 0.35) 0, 5px;

$tipografia-principal: "Roboto";

